<p>customer-cart works!</p>
<h1>Cart</h1>
<!-- {{cartService.getItems() | json}} -->
@for(item of cartService.getItems(); track item.id) {
    <div class="bg-red-200 border rounded">
        <h1>{{item.productName}}</h1>
        <h1>Id: {{item.id}}</h1>
        <h1>Price: {{item.price}}</h1>
        <p>Quantity: {{item.quantity}}</p>
        <p>Total Amount: {{item.price * item.quantity}}</p> <!-- Display total price for the item -->

        <div class="flex gap-2">
        <button class="bg-red-400 px-2 rounded" (click)="deleteCart(item)">Delete</button>
        <!-- <button class="bg-blue-400 px-2 rounded" (click)="cartService.incrementQuantity(item.productId)">+</button>
        <button class="bg-blue-400 px-2 rounded" (click)="cartService.decrementQuantity(item.productId)">-</button> -->
        <button class="bg-blue-400 px-2 rounded" (click)="cartService.incrementQuantity(item.id)">+</button>
        <button class="bg-blue-400 px-2 rounded" (click)="cartService.decrementQuantity(item.id)">-</button>
        </div>
    </div>
}

<!-- from cartService -->
<h1>Total: {{cartService.getTotal()}}</h1>
<h1>Total Items: {{cartService.getTotalItems()}}</h1>

<br><br>
<!-- from components -->
<p>Total Items: {{ getTotalItems() }}</p>
<p>Total Price: {{ getTotalPrice() }}</p>
<p>Total Cart: {{ getAllCartItems() }}</p>

  

<button *ngIf="getTotalPrice() !== 0" (click)="sendCartData()">
    <span class="bg-green-300 p-1 rounded text-xl font-semibold">
        Submit Cart
    </span>
</button>
