<div class="w-full">
  <div class="flex ">
    <div class="" [ngClass]="isSidepanelVisible ? 'w-8/12' :'w-full' ">
      <div class="m-1">
        <div class="bg-blue-200 w-full flex justify-between p-2 rounded-t ">
          <p class="text-xl font-semibold">Product List</p>
          <button (click)="openSidepanel()" class="bg-green-500 p-1 rounded">New</button>
        </div>
        <div class="w-full flex flex-wrap justify-center bg-gray-500 rounded-b min-h-8">
          <div *ngFor="let product of productsList" class="w-3/12">
          <div class=" ">

              <div class="bg-blue-100 p-1 m-1 border rounded shadow">
                <img class="w-full" [src]="product.productImageUrl" alt="">
                <h1 class="text-xl font-semibold">{{product.productName}}</h1>
                <h1 class="text-xl font-semibold">{{product.productPrice}}</h1>
                <h1 class="text-xl font-semibold">{{product.categoryName}}</h1>
                <div class="flex justify-start gap-2">
                  <a (click)="onEdit(product)" class="bg-blue-400 p-1 rounded cursor-pointer">Edit</a>
                  <a (click)="onDelete(product)" class="bg-red-400 p-1 rounded cursor-pointer">Delete</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="w-4/12" *ngIf="isSidepanelVisible">
      <div class="m-1">
        <div class="bg-blue-200 w-full flex justify-between p-2 rounded-t ">
          <p class="text-xl font-semibold">New Product</p>
          <button (click)="closeSidepanel()" class="bg-green-500 p-1 rounded">Close</button>
        </div>
        <!-- card -->
        <div class="bg-gray-100 rounded-b min-h-8">
          <div class="w-full p-2 flex justify-between flex-wrap">
            <div class="w-1/2">
              <label for="">SKU</label>
              <input type="text" [(ngModel)]="productObj.productSku">
            </div>
            <div class="w-1/2">
              <label for="">Name</label>
              <input type="text" [(ngModel)]="productObj.productName">
            </div>
            <div class="w-1/2">
              <label for="">Short Name</label>
              <input type="text" [(ngModel)]="productObj.producShorttName">
            </div>
            <div class="w-1/2">
              <label for="">Price</label>
              <input type="text" [(ngModel)]="productObj.productPrice">
            </div>
            <div class="w-1/2">
              <label for="">Category</label>
              <select [(ngModel)]="productObj.categoryId" name="" id="">
                <option *ngFor="let cat of categoryList" [value]="cat.categoryId">{{cat.categoryName}}</option>
              </select>
              <input type="text" [(ngModel)]="productObj.categoryId">
            </div>
            <div class="w-1/2">
              <label for="">Delevery Time Span</label>
              <input type="text" [(ngModel)]="productObj.deliveryTimeSpan">
            </div>
            <div class="w-1/2">
              <label for="">Image Url</label>
              <input type="text" [(ngModel)]="productObj.productImageUrl">
            </div>
            <div class="w-1/2">
              <label for="">Product Description</label>
              <input type="text" [(ngModel)]="productObj.productDescription">
            </div>
            <div class="w-1/2">
              <button *ngIf="productObj.productId ==0" (click)="onSave()"
                class="bg-blue-400 p-1 rounded">Create</button>
              <button *ngIf="productObj.productId !==0" (click)="onUpdate()"
                class="bg-blue-400 p-1 rounded">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>