  <!-- <div class="container mx-auto w-full flex justify-center items-center">
  <div class="w-[500px] bg-indigo-200 px-2 rounded">
      <h1 class="text-xl font-semibold text-center">Todo List</h1>
      <div class="m-2 p-2">
      <input [(ngModel)]="todo.Title"  class="px-1 rounded" type="text" placeholder="add a new task">
      <button [disabled]="!todo.Title" (click)="addTodo()" class="bg-red-200 px-2 mx-1 rounded" type="submit">{{todo.Id ? "update" : "ADD"}}</button>
     
      </div>
      
  
      <ul>
          <li *ngFor="let item of todoList">
              <label for="task3">{{item.Title}}</label>
              <button (click)="editTodo(item)" class="bg-red-200 px-2 mx-1 rounded" type="submit">Edit</button>
              <button (click)="delTodo(item.Id)" class="bg-red-200 px-2 mx-1 rounded" type="submit">Delete</button>
          </li>
      </ul>
  </div>
  </div> -->
  
  <!-- **********WITH IMAGE************ -->
  
  
  <div class="max-w-md mx-auto py-4">
   
  
    
    <div class="mb-4">
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        [(ngModel)]="todo.Title" type="text" placeholder="Todo title">
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        [(ngModel)]="todo.Price" type="text" placeholder="Todo Price">
      <input class="mt-2" type="file" (change)="onImageSelected($event)">
    </div>
  
    <button [disabled]="!todo.Title" (click)="addTodo()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">{{todo.Id ? "update" : "ADD"}}</button>
    <table class="w-full my-2">
      <tr class="bg-red-300 font-semibold flex justify-between">
        <th class=" px-2">Title</th>
        <th class=" px-2">Price</th>
        <th class=" px-2">Image</th>
        <th class=" px-2">Action</th>
      </tr>
      <tbody class="bg-gray-300 font-semibold flex justify-between">
  
  
        <div class="w-full ">
          <div *ngFor="let todo of todoList">
  
            <tr class="flex justify-between px-2 items-center border-b border-red-800">
              <td class="">
                <p class="w-full ">{{ todo.Title }}</p>
              </td>
              <td class="">
                <p class="w-full ">{{ todo.Price }}</p>
              </td>
              <td>
                <img *ngIf="todo.Image" [src]="todo.Image" alt="Todo Image" class="h-16 w-16 object-cover">
              </td>
              <td>
                <div class="mt-4">
                  <button
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline mr-2"
                    (click)="editTodo(todo)">Edit</button>
                  <button
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline"
                    (click)="delTodo(todo.Id)">Delete</button>
                </div>
              </td>
            </tr>
            
          </div>
        </div>
      </tbody>
    </table>
  </div>
